body {
  /* background-image: url(https://gw.alipayobjects.com/zos/rmsportal/RxMbdtGwmMUIVsXRiLyJ.jpg); */
  background-size: cover;
  /* background-color: #EFFACE; */
}
.pageBgImg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_filter_all */
  filter: opacity(90%);
}
.main {
  position: relative;
  display: flex;
  height: 96%;
  margin: 10px;
}
.main .core {
  flex: 1;
  width: 1px;
  margin-right: 10px;
}
.main .core .editor {
  overflow: hidden;
  background-color: #fff;
}
.main .core .editor .nav {
  margin: 5px;
}
.main .core .editor .tab-pane iframe {
  width: 100%;
  height: calc(100% - 52px);
}
.main .core .editor .tab-pane.active.multi-iframe {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 30px;
}
.main .core .editor .tab-pane.active.multi-iframe iframe {
  flex-shrink: 0;
  width: 630px;
  height: 500px;
  margin: 8px;
  border: 1px solid gray;
}
.main .core .notes {
  position: relative;
  background-color: rgba(255,255,255,0.1);
  color: #ddd;
  font-size: 14px;
  padding: 0 10px;
}
.main .core .notes a {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.main .core .notes img {
  max-width: 100%;
}
.main .core .notes #notesText {
  margin-bottom: 10px;
}
.main .core .notes .small {
  height: 190px;
  overflow: hidden;
}
.main .ifr {
  flex: none;
  border: none;
  width: 490px;
  height: 100%;
  background-color: white;
}

#bookmarks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-size: 12px;
  padding: 0 8px;
}
#bmright {
  display: flex;
  align-items: center;
}
#bookmarks > ul li {
  margin-right: 10px;
}
#bookmarks > ul, #bmright > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}
#bookmarks a {
  display: flex;
  align-items: flex-start;
  margin: 2px;
  white-space: nowrap;
}
#bookmarks img {
  max-width: 16px;
  margin-right: 4px;
}
#bookmarks .ui-menu .ui-icon {
  top: -4px;
}
#bookmarks .ui-state-active {
  border: none;
  background-color: #e8f0fe;
  color: #333;
}
