body {
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/RxMbdtGwmMUIVsXRiLyJ.jpg);
  background-size: cover;
  // background-color: #EFFACE;
}
.top {
  text-align: center;
  &-right {
    display: flex;
    align-items: center;
    a {
      margin-left: 10px;
    }
  }
}
.main {
  position: relative;
  display: flex;
  height: 96%;
  a {
    color: #fff;
  }
  .s2 {
    flex: 1;
    display: flex;
    justify-content: center;
    &-main {
      padding: 10px 0;
      display: flex;
      .joke {
        position: relative;
        background-color: rgba(255,255,255,.1);
        color: #ddd;
        font-size: 13px;
        width: 260px;
        padding: 30px 10px 10px;
        img {
          margin-top: 10px;
          max-width: 100%;
        }
        .small {
          height: 190px;
          overflow: hidden;
        }
      }
      .other {
        margin-left: 10px;
        textarea {
          width: 680px;
          height: 450px;
          padding: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

#bookmarks {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  font-size: 12px;
  padding: 0 8px;
  > ul {
    display: flex;
    border: none;
  }
  ul a {
    display: flex;
    align-items: flex-start;
    margin: 2px 0;
    white-space: nowrap;
  }
  img {
    margin-right: 4px;
  }
  .ui-menu .ui-icon {
    top: -4px;
  }
  .ui-state-active {
    border: none;
    background-color: rgb(232, 240, 254);
    color: #333;
  }
}
