
.main .notes {
  position: relative;
  background-color: rgba(255,255,255,0.1);
  font-size: 14px;
  padding: 0 10px;
}
.main .notes a {
  color: blue;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.main .notes img {
  max-width: 100%;
}
.main .notes #notesText {
  margin-bottom: 10px;
}
.main .notes .small {
  height: 190px;
  overflow: hidden;
}
